* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	color: #000000;
}

body {
	font-family: Arial, sans-serif;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #0a0a0a;
}

header {
	background-color: #f26c7c;
	color: white;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Georgia, "Times New Roman", Times, serif;
}

header button {
	background-color: white;
	color: #d81b60;
	border: none;
	padding: 10px 16px;
	border-radius: 10px;
	cursor: pointer;
}

header h1 {
margin-left: 10px;
}

header h2 {
	font-size: large;
	text-transform: capitalize;
	list-style-type: none;
	border-radius: 25px;
	color: white;
	flex-wrap: 600;
	padding: 10px 16px;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.login-button {
	background-color: white;
	color: #f26c7c;
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
}

.login-button:hover {
	background-color: #ffe3e7;
}

main{
    display: flexbox;
	justify-content: center;
	align-items: center;
	height: 75vh;
}

main.tabela-container {
  max-width: 1000px;
  margin: 2rem auto;
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

main h1 {
  margin: 2rem auto;
  padding: 2rem;

}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  padding: 30px;
}

thead {
  background-color: #ffc457;
  color: white;
}

th, td {
  padding: 0.8rem;
  text-align: center;
  border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.btn {
  background-color: #ffe3ae;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

body {
	background-color: white;
	color: #000000;
}

body {
	font-family: Arial, sans-serif;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #0a0a0a;
}

header {
	background-color: #f26c7c;
	color: white;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Georgia, "Times New Roman", Times, serif;
}

header button {
	background-color: white;
	color: #d81b60;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
}

header h1 {
	margin-left: 10px;
}

header h2 {
	font-size: large;
	text-transform: capitalize;
	list-style-type: none;
	background-color: #fb8391;
	border-radius: 25px;
	color: white;
	flex-wrap: 600;
	align-items: center;
}

footer {
	background-color: #f26c7c;
	color: white;
	padding: 2rem 1rem;
	margin-top: 2rem;
	display: flex;
}

;footer h2 {
	margin-left: 10px;
	margin: 0;
	font-size: 1.8rem;
	font-weight: bold;
}

.footer .social {
	margin-top: 1rem;
}

.footer .social a {
	margin: 0 0.5rem;
	color: #f26c7c;
	font-size: 1.5rem;
}
  
.texto {
	display: flex;
	align-items:stretch;
	justify-content:center;
	width: 150%;
	margin-left: 10px;
	margin-top: 1rem;
	font-size: 1.2rem;	
  }

.texto ul li{
	list-style-type: none;
}

.copy{
	display: flex;
	align-items:stretch;
	justify-content:center;
	width: 100%;	
}

.header {
	width: 20%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	align-items: center;

}

.header ul li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
	margin-top: 1rem;
}

.header ul li a {
	background-color: white;
	color: #f26c7c;
	padding: 6px;
	border-radius: 70%;
}
