* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f26c7c;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.menu-principal ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.menu-principal ul li a {
  font-size: large;
  background-color: #fb8391;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-principal ul li a:hover {
  background-color: #d45565;
  transform: scale(1.05);
}

.login-button {
  background-color: white;
  color: #f26c7c;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #ffe3e7;
}

.intro {
  padding: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  animation: aparecer 1s ease-out;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #f26c7c;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo h2 {
  margin: 0 10px;
  font-size: 1.8rem;
  font-weight: bold;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 10px;
}

.texto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.copy {
  margin-top: 10px;
}

.redes-sociais {
  width: 25%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: aparecer 1s ease-in;
}

.redes-sociais ul {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.redes-sociais ul li {
  list-style: none;
}

.redes-sociais ul li a {
  background-color: #fff0f2;
  color: #d45565;
  padding: 9px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.3s;
}

.redes-sociais ul li a:hover {
  background-color: #f26c7c;
  color: white;
  transform: scale(1.1);
}

/* Animações */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-principal ul {
    flex-direction: column;
    gap: 10px;
  }

  .login-button {
    margin-top: 10px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .redes-sociais {
    justify-content: center;
    margin-top: 15px;
  }
}